html,
body,
* {
  font-family: 'Poppins', sans-serif;
}
body {
  overflow-x: hidden;
}
.poppins-thin {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: oblique;
}

.poppins-extrabold {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: italic;
}
.fs-0-8 {
  font-size: 0.8rem !important;
}
.toppest-div {
  background-color: #f6f6f6;
}
/* utility classes custom */
.btn-1 {
  background-color: #d9f0ff;
  border: none;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  box-shadow: rgba(48, 85, 181, 0.44) 0 1px 4px 0px;
  &:hover {
    background-color: #fff;
  }
}
.ls-1px {
  letter-spacing: 1px !important;
}
.fs-1-1 {
  font-size: 1.1rem;
}
.bg-yellow {
  background-color: #ffd502;
}
/* swiper styles */

.swiper {
  max-width: 700px;
  /* height: 100%; */
}
/* .swiper-button-next,
.swiper-button-prev {
  width: 25px !important;
  height: 25px !important;
} */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 15px !important;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #444; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.rao-nav-svg img {
  width: 18px;
  /* border: 1px solid red; */
}

img.logo {
  width: 50px;
  /* margin-left: -70px; */
  height: auto;
}
.navbar {
  background-color: #ffcf00 !important;
}
.navbar-collapse a {
  color: #141313;
  font-size: 0.9rem;
  margin-left: 1.2rem;
}
.new {
  background-color: whitesmoke;
  font-weight: normal;
  color: red !important;
  &:hover {
    background-color: #141313;
    color: #fff !important;
  }
}

.rao-icon {
  background-color: #fff;
  padding: 17px;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
.btn-prev {
  left: 0;
  height: 100%;
  top: 0;
  i {
    font-size: 20px;
  }
  padding-left: 10px;
}
.btn-next {
  right: 0;
  top: 0;
  height: 100%;
  i {
    font-size: 20px;
  }
}
input[name='search-items'] {
  border-radius: 50px !important;
}
/* main contenet starts */

.w-mx-1300 {
  max-width: 1300px !important;
}
.custom-content {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -30%);
  span {
    width: 150%;
  }
}
.w-mx-150 {
  max-width: 150px !important;
}
.container .bg-yellow img {
  margin-bottom: 0.7rem;
}
.container .bg-yellow small {
  font-weight: 500;
}
.custom-z {
  z-index: -2;
}

#btnRS span {
  width: 100%;
  height: 2px;
  display: block;
  margin-top: 6px;
  background-color: #1f1f1f;
  transition: all 500ms;
  transform-origin: 0px 100%;
}
button#btnRS {
  width: 30px;
  height: auto;
  border: none !important;
  padding: 0 !important;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
#btnRS small {
  font-size: 0.6rem;
  letter-spacing: 1px;
}

/* bar animation */
.icon-bar-1-active {
  transform: rotate(45deg) translate(-2px, 1px);
}
.icon-bar-2-active {
  opacity: 0;
  margin-left: -20px;
}
.icon-bar-3-active {
  transform: rotate(-45deg) translate(-4px, 2px);
}
.border-btm-yellow {
  border-bottom: 3px solid #ffcf00 !important;
}

.offcanvas-header {
  padding: 0px !important;
}
.p-1rem {
  padding: 1rem !important;
}
.btn-close {
  height: 100% !important;
  box-sizing: inherit !important;
  width: 70px !important;
  border-radius: 0 !important;
  border-left: 1px solid #ccc !important ;
  margin-right: 0 !important;
}

.offcanvas-body button {
  font-size: 0.8rem !important;

  background-color: #abd9ff;
  /* margin-bottom: 1rem; */
  padding: 0.7rem !important;
}
.offcanvas-title {
  strong {
    font-weight: 500;
  }
}
.offcanvas-body {
  flex-grow: inherit !important;
  overflow-y: hidden;
}
.list-group {
  border-radius: 0px !important;
}
li.list-group-item {
  padding: 15px 21px !important;
  font-weight: 500;
  font-size: 0.9rem !important;
}
.lego-icon {
  height: 25px !important;
}
.mob-icons {
  display: flex;
  justify-content: space-between;
  gap: 1rem !important;
}

/* media queries */
@media (max-width: 992px) {
  .container {
    max-width: 900px !important;
  }
  nav.navbar {
    background-color: #fff !important;
  }
  .navbar-brand img {
    width: 45px !important;
    height: 45px !important;
  }
  .custom-content {
    h1 {
      font-size: 1.5rem !important;
    }
    span {
      font-size: 0.9rem;
      text-align: justify;
      max-width: 150px;
    }
    button {
      font-size: 0.7rem;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 4px;
      padding-right: 4px;
    }
  }
}
@media (min-width: 577px) and (max-width: 730px) {
  .custom-content {
    border: 1px solid red;
    h1 {
      font-size: 1rem !important;
      margin: 0 !important;
    }
    span {
      /* display: none; */
      font-size: 0.7rem;
      text-align: justify;
      max-width: 150px;
    }
    button {
      font-size: 0.7rem;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 4px;
      padding-right: 4px;
    }
  }
}
@media (min-width: 800px) and (max-width: 992px) {
  .custom-content {
    button {
      padding: 6px 10px !important;
    }
  }
}
@media (max-width: 576px) {
  .custom-content {
    /* border: 1px solid red; */
    h1 {
      font-size: 0.9rem !important;
      margin: 0;
      padding: 0;
    }
    span {
      margin: 0;
      padding: 0;
      font-size: 0.7rem !important;
    }
    button {
      font-size: 0.7rem !important;
    }
  }
}
