/* Reset basic elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Make images responsive by default */
img {
  max-width: 100%;
  height: auto;
}

/* Set a base font */
body {
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}
/* borders for debug */
.mybr {
  border: 1px solid red;
}
.myby {
  border: 1px solid yellow;
}
.mybb {
  border: 1px solid black;
}
.mybg {
  border: 2px solid green;
}
.mybo {
  border: 2px solid orange;
}
.mybw {
  border: 2px solid white;
}

@font-face {
  font-family: 'Cerebrisans Regular';
  src: url('./assets/fonts/cerebrisans-regular.ttf');
}
@font-face {
  font-family: 'Cerebrisans Bold';
  src: url('./assets/fonts/Cerebri-Sans-Book.ttf');
}
@font-face {
  font-family: 'Fre Light';
  src: url('./assets/fonts/FreightTextProLight-Regular.ttf');
}
@font-face {
  font-family: 'Fre SB';
  src: url('./assets/fonts/FreightTextProSemibold-Regular.ttf');
}
@font-face {
  font-family: 'Fre Bold';
  src: url('./assets/fonts/FreightTextProBold-Regular.ttf');
}
@font-face {
  font-family: 'Fre Medium';
  src: url('./assets/fonts/FreightTextProMedium-Regular.ttf');
}
@font-face {
  font-family: 'Fre Light';
  src: url('./assets/fonts/FreightTextProLight-Regular.ttf');
}

/* top div */
.top-div {
  background-color: #fafaf2;
}
.top-div ul {
  padding-left: 0px;
}

.top-div ul li a {
  font-family: 'Cerebrisans Regular', sans-serif;
  color: rgb(28, 28, 28);
  font-size: clamp(0.8rem, 2vw, 1rem);
}
.top-div ul li a:hover {
  text-decoration: underline;
}

/* nav */
nav {
  border-bottom: 1px solid #333;
  padding: 0px !important;
}
#myNav {
  position: sticky;
  top: 0px;
  z-index: 3;
  background-color: #fff;
  width: 100%;
}
/* when side bar is shown then cream bg on nav */
.bg-nav-cream {
  background-color: #fafaf2;
}
nav .container-fluid {
  padding-right: clamp(1rem, 1.5vw, 2.7rem) !important;
  padding-left: clamp(1rem, 1.5vw, 2.7rem) !important;
}

nav div.icons a {
  font-weight: 500;
  margin-left: 5px;
  font-size: clamp(0.8rem, 2vw, 1rem);
  letter-spacing: 0.7px;
}

nav div.icons a:hover {
  text-decoration: underline;
}
nav span {
  cursor: pointer;
  margin-left: 35px;
}
/* 
section- relative , z0
off1- absolute , z1



*/

/* off-canvas */
#my-menu-offcanvas1 {
  position: absolute; /* page ke upar chipka do */
  top: 50px;
  left: 0;
  width: 100%; /* full width screen ka */
  height: 100vh; /* full height */
  background-color: #fafaf2;
  z-index: 2;
  padding: 3rem 0;
  padding-left: 6rem;
  font-size: 0.8rem;
  color: #414141;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  overflow-y: scroll;
}
#my-menu-offcanvas1.active {
  transform: translateX(0);
}

#my-menu-offcanvas1 .first-menu-col img {
  height: 100px;
}
#my-menu-offcanvas1 .first-menu-col {
  border-right: 1px solid #9b9b9b;
  padding: 1rem;
}
#my-menu-offcanvas1 .first-menu-col.no {
  border: none;
}

#my-menu-offcanvas1 a:hover,
#my-menu-offcanvas1 span:hover,
#my-menu-offcanvas1 strong:hover,
#my-menu-offcanvas1 h4:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* mobile offcanvas menu */
body.menu-open {
  overflow: hidden;
}
.off-mobile {
  background-color: #fafaf2;
  position: fixed; /* page ke upar chipka do */
  top: 50px;
  left: 0;
  width: 100%; /* full width screen ka */
  height: 100%; /* full height */
  z-index: 111;
  overflow-y: scroll;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}
.off-mobile.active {
  transform: translateX(0);
}

.off-mobile ul {
  padding: 1rem;
  padding-top: 3rem;
}

.off-mobile ul li {
  border-bottom: 1px solid #a5a4a4;
  padding: 0.5rem;
}

.off-mobile ul li.no-img {
  padding: 1rem;
}

.off-mobile ul li a {
  font-weight: 700;
  font-size: 1.2rem;
}

.off-mobile li img {
  width: 60px;
}
/* header */

#header {
  background: url('./assets/home/webp-bg.webp');
  padding: 1rem 1rem;
}

#header h1 {
  font-size: 3.6rem;
  font-family: 'Fre Bold';
}

#header p {
  font-size: 1.3rem;
  font-family: 'Fre SB';
  line-height: 1.3;
  margin-top: 1.2rem;
}

#header img {
  transform: rotate(5deg);
}

#header button {
  position: relative;
  background-color: #fff;
  color: #af0006;
  border: 1px solid #a5684d;
  padding: 0.5rem 2rem;
  box-shadow: 8px 8px 0 rgba(44, 44, 44, 0.2);
  font-weight: 700;
  letter-spacing: 1px;
  min-width: 100px;
  font-size: 1rem;
}

#header .leftDiv {
  position: absolute;
  border-top: 1px solid #a5684d;
  border-left: 1px solid #a5684d;
  height: 1rem;
  width: 1rem;
  top: 0.2rem;
  left: 0.2rem;
}

#header .rightDiv {
  position: absolute;
  border-right: 1px solid #a5684d;
  border-bottom: 1px solid #a5684d;
  height: 1rem;
  width: 1rem;
  bottom: 0.2rem;
  right: 0.2rem;
}

#header button:hover {
  outline: 1px solid #a5684d;
  box-shadow: 11px 11px 0 rgba(44, 44, 44, 0.2);
}

#header button:hover .leftDiv,
#header button:hover .rightDiv {
  border-width: 2px;
}

/* bookmark */

.bookmark {
  position: fixed;
  transition: transform 0.3s ease;
  left: 30px;
  z-index: 2;
  background-color: white;
  width: 90px;
  padding: 0.7rem;
  border: 1px solid #333;
  border-top: none;
  border-bottom: none;
}

.bookmark ul {
  padding-left: 0px;
}

.bookmark ul li {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  margin-bottom: 5px;
}

.bookmark ul li a {
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3px;
  color: #333;
}

.bookmark ul li a:hover {
  text-decoration: underline;
}

.bookmark .leftBM {
  width: 47px;
  height: 52px;
  top: 0;
  left: -12px;
  border-left: 1px solid #000;
  overflow: hidden;
  background: linear-gradient(-33deg, transparent 45%, #fff 0);
}

.bookmark .leftBM::before {
  content: '';
  position: absolute;
  border: 1px solid black;
  width: 10px;
  height: 64px;
  background-color: #af0006;
  display: block;
  transform: rotate(54deg);
  left: 18px;
}

.bookmark .rightBM {
  width: 47px;
  height: 52px;
  top: 0;
  background-color: white;
  right: -12px;
  border-right: 1px solid #000;
  overflow: hidden;
  background: linear-gradient(33deg, transparent 45%, #fff 0);
}

.bookmark .rightBM::before {
  content: '';
  position: absolute;
  border: 1px solid black;
  width: 10px;
  height: 64px;
  background-color: #af0006;
  display: block;
  transform: rotate(302deg);
  left: 18px;
}

.bookmark.zero {
  top: 50px;
}
.bookmark.one {
  top: 90px;
}
/* bookmark ends */

/* custom media queries */
/* Mobile devices (phones, <576px) */
@media (max-width: 575.98px) {
  /* CSS rules for small screens */
  .top-div div.d-flex {
    justify-content: center !important;
  }
  .top-div ul li {
    display: none;
  }
  .top-div ul li:first-child {
    display: block;
  }
  nav div.icons a {
    display: none;
  }
}
/* custom media query for offcanvas menu  */
@media (max-width: 848px) {
  #my-menu-offcanvas1 {
    display: none !important;
  }
  .desktop-nav {
    display: none !important;
  }
  #header .header-content {
    p,
    button {
      display: none !important;
    }
  }
}
@media (min-width: 849px) {
  .desktop-nav {
    display: flex !important;
  }
  .mobile-nav {
    display: none !important;
  }
  .off-mobile {
    display: none !important;
  }
  #header .col .header-content-box2 {
    display: none;
  }
}
@media (max-width: 1030px) {
  #my-menu-offcanvas1 {
    padding-left: clamp(1rem, 0.5rem + 1vw, 6rem);
  }
}

/* Small devices (≥576px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .top-div div.d-flex {
    justify-content: center !important;
  }
  .top-div ul li {
    display: none;
  }
  .top-div ul li:first-child {
    display: block;
  }
  nav .icons a {
    display: none;
  }
}

/* Medium devices (≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* CSS rules for tablets / small laptops */
}

/* Large devices (≥992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* CSS rules for laptops / desktops */
}

/* Extra large devices (≥1200px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* CSS rules for large desktops */
  #header .row {
    margin-left: 4rem !important;
  }
}
@media (min-width: 1300px) {
  .bookmark {
    display: block !important;
  }
}
/* Extra extra large devices (≥1400px) */
@media (min-width: 1400px) {
  /* CSS rules for very large screens */
  #header .row {
    margin-left: 4rem !important;
  }
}
