* {
  font-family: 'Poppins';
}
body {
  overflow-x: hidden !important;
}
@font-face {
  font-family: 'SoDoLight', serif;
  src: url('./assets/fonts/SoDoSans-Light.ttf');
}
@font-face {
  font-family: 'SoDoReg', serif;
  src: url('./assets/fonts/SoDoSans-Regular.ttf');
}
@font-face {
  font-family: 'SoDoSemi', serif;
  src: url('./assets/fonts/SoDoSans-SemiBold.ttf');
}

/* Navbar */
.navbar-brand img {
  width: 45px;
  height: auto;
  font-family: 'SoDoSemi', serif;
}
.navbar {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.06), 0 0px 2px rgba(0, 0, 0, 0.07);
  font-weight: 600;
  text-transform: uppercase;
}
.navbar-nav a {
  color: #1f2021;
  letter-spacing: 1px;
  font-size: 0.96rem;
  /* border: 1px solid red; */
}
.navbar-nav a:hover {
  color: #00754a;
}
.nav-link-sb {
  /* border: 1px solid red; */
  display: flex;
  /* display: inline-block; */
  text-decoration: none;
  ion-icon {
    font-size: 1.4rem;
    margin-right: 0.4rem;
    color: #1f2021;
  }
  span {
    text-decoration: none;
    color: #1f2021;
  }
}
.nav-link-sb:hover span,
.nav-link-sb:hover ion-icon {
  color: #00754a;
}
.nav-right-sb {
  display: flex;
  gap: 2rem;
  align-items: center;
}
#navbarSupportedContent > div > div > a > span {
  /* border: 1px solid red; */
  text-transform: none;
  font-size: 0.9rem;
}
.btn-white {
  border: 1px solid #000;
  border-radius: 2rem;
  padding: 5px 18px;
  font-size: 0.9rem;
  /* display: inline-block; */
}
.btn-white:hover {
  background-color: gainsboro;
  opacity: 0.9;
}
.btn-dark {
  border: 1px solid #000;
  color: #fff;
  background-color: #1f2021;
  border-radius: 2rem;
  padding: 5px 18px;
  font-size: 0.9rem;
  /* display: inline-block; */
}
.btn-dark:hover {
  opacity: 0.8;
}
button:focus {
  outline: none;
  box-shadow: none !important;
}
/* Desktop Nav Done */
/* Mobile menu under 992 */
@media (max-width: 992px) {
  .navbar-collapse {
    text-align: center;
    gap: 4rem;
    z-index: 2;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: #ffff;
    li {
      padding-bottom: 0.7rem;
      border-bottom: 1px dotted #333;
    }

    .nav-right-sb {
      /* border: 1px solid red; */
      justify-content: center;
      margin-top: 1.5rem;
      margin-bottom: 2rem;
    }
  }
  body > nav.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

/* main */
main .first-box .col-left {
  background: url('./assets/media/box1.jpg') center center/cover no-repeat;
  min-height: 500px;
  /* padding: 4rem 2rem; */
}
main .first-box .col-right {
  padding: 5rem;
  padding-top: 7rem;
  background-color: #f9eedf;
  color: #006342;
  h2 {
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.3rem;
  }
  .para {
    font-size: 1.4rem;
  }
  button {
    background-color: #00754a;
    color: #fff;
    font-weight: 500;
    border: none;
  }
}

main .sec-box {
  color: #32472f;
  .col-right {
    background: url('./assets/media/box2.jpg') center center/cover no-repeat;
    min-height: 350px;
  }

  .col-left {
    padding: 6rem;
    background-color: #d1d1aa;
    .para {
      line-height: 1.6;
      font-size: 1.2rem;
      span {
        font-weight: 700;
      }
    }
  }
  button {
    background-color: #d1d1aa;
    font-weight: 500;
    color: #32472f;
  }
}
main .third-box .col-left {
  background: url('./assets/media/box3') center center/cover no-repeat;
  min-height: 500px;
  /* padding: 4rem 2rem; */
}
main .third-box .col-right {
  padding: 5rem;
  padding-top: 7rem;
  background-color: #d1d1aa;
  color: #32472f;
  h2 {
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.3rem;
  }
  .para {
    font-size: 1.4rem;
  }
  button {
    background-color: #d1d1aa;
    color: #32472f;
    font-weight: 500;
    border: none;
    border: 1px solid #333;
  }
}

/* media query */
@media (max-width: 992px) {
  main .first-box .col-right {
    padding: 2rem;
  }
  main .sec-box {
    .col-left {
      padding: 2rem;
    }
  }
  main .third-box .col-right {
    padding: 2rem;
    h2 {
      font-size: 2rem;
    }
  }
}
